body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin:0;
}



.container{
   /* width:100%;
    height:auto; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    max-height: 100%;



}

.letterA{
     width:100px;
    height:100px;
    text-align: center;
    background: #dfe1e7;
    margin: auto;
    font-size: 40px;
    font-family: Tahoma;
    border-top: 1px solid #687291;
}
.letterB{
    width:100px;
    height:100px;
    text-align: center;
    background: #eeeff2;
    font-size: 40px;
    font-family: Tahoma;
    border-top: 1px solid #687291;
}

.letterC{
    width:100px;
    height:100px;
    text-align: center;
    background: #dfe1e7;
    font-size: 40px;
    font-family: Tahoma;
    border-top: 1px solid #687291;
}

.letterD{
    width:100px;
    height:100px;
    text-align: center;
    background: #eeeff2;
    font-size: 40px;
    font-family: Tahoma;
    border-top: 1px solid #687291;
}

.letterE{
    width:100px;
    height:100px;
    text-align: center;
    background: #dfe1e7;
    font-size: 40px;
    font-family: Tahoma;
    border-top: 1px solid #687291;
}
.letterF{
    width:100px;
    height:100px;
    text-align: center;
    place-content: center;
    align-items: center;
    background: #687291;
    font-size: 40px;
    font-family: Tahoma;
    border: 4px solid;
    border-color: black;
}